.table {
	width: 100%;
	border-collapse: collapse;

	thead {
		background-color: #e8e8e8;
		th {
			padding: 18px 0;
			text-align: left;
			color: #25282b;
			font-size: 16px;
			font-weight: 700;
			&:first-child {
				// gap: 12px;
				padding-left: 24px;
			}
			&:last-child {
				padding-right: 24px;
			}
		}
	}
	tbody {
		tr {
			width: 100%;
			border-bottom: 1px solid #e8e8e8;
			cursor: pointer;
			&:hover {
				background-color: #f6f6f6;
			}
		}
		td {
			padding: 18px 0;
			color: #52575c;
			&:first-child {
				padding-left: 24px;
			}
			&:last-child {
				padding-right: 24px;
				padding-left: 15px;
				text-align: right;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 15px;
			}
		}
	}
}

.info {
	width: 100%;
	td {
		padding: 10px 0;
	}
	td:nth-child(odd) {
		font-size: 14px;
		color: #606060;
		width: 130px;
		max-width: 120px;
	}
	td:nth-child(even) {
		font-size: 16px;
		font-weight: 700;
		color: #000;
	}
}

.create {
	margin-right: 25px;
	border-radius: 10px;
	background: #336cfb;
	color: #fff;
	font-size: 14px;
	padding: 10px 15px;
	font-weight: 500;
	line-height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	span {
		font-size: 24px;
		font-weight: 700;
	}
}
